<!DOCTYPE html>
<html>
<head>
	<title>Graduate Admissions Predictor</title>
  
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<script src="https://kit.fontawesome.com/5f3f547070.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
</head>
<body>
	<!-- Website Title -->
        <div class="container">
            <h2 class='container-heading'><span class="heading_font">Graduate Admissions Predictor</span></h2>
            <div class='description'>
                <p>A Machine Learning Web App, Built with Flask, Deployed using Heroku. </p>

            </div>
        </div>

        <!-- Text Area -->
        <div class="ml-container">
            <form action="/predict" method="POST">

                <input class="form-input" type="text" name="GRE Score" placeholder="Enter GRE score eg. 310" required><br>
                <input class="form-input" type="text" name="TOEFL Score" placeholder="Enter TOEFL score eg. 115" required><br>
                <input class="form-input" type="text" name="University Rating" placeholder="University rating between 1 to 5" required><br>
                <input class="form-input" type="text" name="SOP" placeholder="SOP rating between 1-5 eg. 3.5" required><br>
                <input class="form-input" type="text" name="LOR" placeholder="LOR rating between 1-5 eg. 4.5" required><br>
                <input class="form-input" type="text" name="CGPA" placeholder="Enter CGPA between 1-10 eg. 8.7" required><br>
                <input class="form-input" type="text" name="Research" placeholder="If you have published research paper then 1 otherwise 0" required><br>

                <input type="submit" class="my-cta-button" value="Predict">
            </form>
        </div>
        <!-- Footer -->
       <div class='footer'>
           <div class="contact">
               <a target="_blank" href="https://github.com/Siddhikul27"><i class="fab fa-github fa-lg contact-icon"></i></a>
               <a target="_blank" href="https://www.linkedin.com/in/siddhikulkarni27/"><i class="fab fa-linkedin fa-lg contact-icon"></i></a>
           </div>
           <p class='footer-description'>Made by Siddhi Kulkarni.</p>
       </div>

    </body>
</html>

</body>
</html>